body{
	font-size:12px;
	font-family:"ו";
	margin:0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/*background: #f7f7f7;*/
}
form{
	padding:0px;
	margin:0px;
	display:inline;
}

#cgshrk table{
	border-collapse:collapse;
	overflow:auto;
	width:100%;
	height:auto;
	border:solid 0px #92B7D0;
	padding:0px;
}
#cgshrk td{
	background:#FFFFFF; 
	border:solid 1px #92B7D0; 
	height:30px; 
}
